*_db_file
*_db_file
notebooks/recipesDb*
notebooks/recipeLis*
notebooks/adjective.txt
notebooks/foodspoils.txt
notebooks/ingredients.txt
notebooks/measurements.txt
notebooks/veggies.txt
tags_recipe_ids_file
test/
